<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.rt.hightec.agent.launcher.launchConfigurationType">
    <stringAttribute key="ACC_HW" value="DAS JDS TriBoard TC3XX V2.0 TB9JJ7Z0"/>
    <booleanAttribute key="ENABLE_AGENTLOG" value="true"/>
    <booleanAttribute key="ENABLE_FLASHING" value="true"/>
    <booleanAttribute key="ENABLE_STOPPING" value="true"/>
    <stringAttribute key="EXECUTABLE_PATH" value="${workspace_loc}/Seekfree_TC264_Opensource_Library/Seekfree_TC264_general_Opensource_Library/Seekfree_TC264_Opensource_Library/Release/Seekfree_TC264_Opensource_Library.elf"/>
    <stringAttribute key="STOP_FUNCTION" value="core0_main"/>
    <stringAttribute key="SVD" value="D:/Infineon/AURIX-Studio-1.10.28/build_system/bundled-artefacts-repo/svd/tc26xbpd/1.1-2/device.svd"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Seekfree_TC264_Opensource_Library"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Seekfree_TC264_Opensource_Library"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_LOCATION" value="/Seekfree_TC264_Opensource_Library/新建配置.launch"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_PROJECT_NAME" value="Seekfree_TC264_Opensource_Library"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_SHARED" value="true"/>
    <stringAttribute key="org.eclipse.tcf.debug.ProjectName" value="Seekfree_TC264_Opensource_Library"/>
    <stringAttribute key="org.eclipse.tcf.debug.executable_name" value="${workspace_loc}/Seekfree_TC264_Opensource_Library/Seekfree_TC264_general_Opensource_Library/Seekfree_TC264_Opensource_Library/Release/Seekfree_TC264_Opensource_Library.elf"/>
</launchConfiguration>
